body{
    background: rgb(20, 212, 238);
    
}
.derecha{
         text-align: right;
}
.center{
    
    text-align: center;
    color: blue;
}
.content{
    width: 1500px;
    height: 50px;
    background-color: white;
    margin: 50px ;
    display: flex;
    align-items: center;
}
.hijo{
    color: rgb(136, 11, 11);
    margin: 30px;
    padding: 5px;
}
.curso:hover{
    cursor:pointer;
     border: 2px dashed rgb(20, 28, 31) ;
    background: rgb(91, 91, 241);
}
.parrafo{
    font-size: 20px;
    width: 70%;
    height: 20%;
    background-color: rgb(243, 233, 233);
    margin: 50px ;
    padding: 30px;
    
    
}
.hijo2{
    color: rgb(148, 142, 142);
    background: red;
    margin: 30px;
    padding: 5px;
}
.content2{
    width: 200px;
    height: 50px;
    margin: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    float:right;
}